## Notebook 01 Data Loading and Cleaning

**Purpose:**  
Load the raw bakery sales datasets, inspect their structure and quality and prepare daily time series data suitable for machine learning forecasting models.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Load croissant sales data
croissant_df = pd.read_csv("../data/raw/Pink CroissantSales March - Oct 2025.csv")

# Load coffee sales data
coffee_df = pd.read_csv("../data/raw/Pink CoffeeSales March - Oct 2025.csv")

In [7]:
croissant_df.head()

         Date  Number Sold
0  01/03/2025           82
1  02/03/2025           67
2  03/03/2025           75
3  04/03/2025           87
4  05/03/2025           58

In [8]:
coffee_df.head()

         Date Number Sold Unnamed: 2
0         NaN  Cappuccino  Americano
1  01/03/2025          82        100
2  02/03/2025          67        103
3  03/03/2025          75         91
4  04/03/2025          87         92

In [9]:
croissant_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         230 non-null    object
 1   Number Sold  230 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.7+ KB